.listcheckin {

	.remove-border {
	    border: 0px;
	}
    .button-floating-action {
        position: fixed !important;
        top: calc(90vh - 60px) !important;
        right: 2vw !important;
        border-radius: 100px !important; 
        border-width: 0 !important;
        padding: 5px 12px 5px 12px !important;
        z-index: 999 !important;
        box-shadow: 5px 5px 5px #888888 !important;
    }
    .check-in-out-button {
        text-transform: uppercase;
    }
    .check-in-out-buttons {
        padding: 0px;
    }
    .check-in-out-buttons {
        padding: 0px;
    }
 
 
}